body {
  font-family: 'Raleway';
  color: #173e43;
}

.container {
  margin: auto;
  width: 85%;
}

.row h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  line-height: 1;
}

/* Navigation */
.navbar {
  width: 100%;
  box-shadow:  0px 30px 20px -10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #3fb0ac !important;
}

/* Content */
.bg-1 {
  color: #3fb0ac;
  opacity: 1;
  padding: 70px 0 0 0;
}

.arrow{
  padding: 0;
  margin:0;
}

.macbook {
  position: relative;
  display: flex;
  max-width: 100%;
  max-height: 400px;
  margin: auto;
}

.header {
  font-family: "Roboto";
  text-align: left;
  padding: 0 0 5% 10%;
  margin: 50px 0 1vh 0;
}

.subHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  font-family: "Arial Black";
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: #3fb0ac;
  }
}

@-moz-keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: #3fb0ac;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: #3fb0ac;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: #3fb0ac;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }

  50% {
    color: #3fb0ac;
  }
}

.bg-2 {
  background-color: #3fb0ac;
  /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, #3fb0ac, #dddfd4);
  color: #173e43;
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 30px;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
}

.bg-3 {
  color: #173e43;
}

/* Skill */
.skill {
  margin-bottom: 100px;
}

.skill h3 {
  color: #173e43;
  margin-left: 5%;
}

.img-responsive {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  border-style: none;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
}

/* Gallery */
.thumbnail {
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  border-style: none;
}

.thumbnail img {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.thumbnail:hover {
  animation: shake 0.7s;
}

@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(3deg);}
  10% {transform: translate(-1px, -2px) rotate(-3deg);}
  20% {transform: translate(-3px, 0px) rotate(2deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(2deg);}
  50% {transform: translate(-1px, 2px) rotate(-2deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.btn-default, .btn-default:visited, .btn-default:active:focus{
  background-color: #fae596;
  color: #3fb0ac;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 35px;
  border-style: none;
  font-size: 35px;
  box-shadow:  0px 30px 20px -10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.btn-default:hover{
  background-color: #fae596;
  color: #3fb0ac;
  transform: scale(1.1);
  box-shadow: 0px 30px 25px 0px rgba(0, 0, 0, 0.4), 0px 0px 25px rgba(0, 0, 0, 0.2);
}

/* Form */
.contact {
  Font-family: "Roboto";
}

.form-control {
  background-color: #dddfd4;
  box-shadow: 0px 0px 20px -10px #e5e5e5;
  border: none;
  border-radius: 10px;
}

.formBody {
  margin-top: 15px;
}

.send {
  margin-top: 40px;
  margin-left: 7px;
}

.send button {
  margin-left: -15px;
  background-color: #3fb0ac;
  color: #dddfd4;
  border-radius: 10px;
  font-size: 2em;
  box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.send button:hover {
  margin-left: -15px;
  background-color: #fae596;
  color: #3fb0ac;
  font-size: 2em;
  transform: scale(1.1);
  box-shadow: 0px 30px 25px 0px rgba(0, 0, 0, 0.4), 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.mail-icon {
  background: #fae596;
  color: #3fb0ac;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -33px;
  margin-top: -33px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.mail-icon i {
  color: #fae596;
  font-size: 30px;
}

.send .btn:hover .mail-icon {
  background-color: #3fb0ac;
  color: #fae596;
  transform: translate(75%, 10%) rotate(360deg);
  transition: transform 0.4s ease-in-out;
}


/* Social*/
.footer {
  margin-top: 20px;
}

.social a {
  font-size: 40px;
  padding: 10px;
}

.hideme {
  opacity: 0;
}
